:focus {
  outline: none;
}

:focus-visible {
  outline: 4px solid var(--color-darkcyan);
  outline-offset: 1px;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-family-system);
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

html {
  position: relative;
  overflow: hidden scroll;
  height: 100%;
  font-size: 100%;
}

[inert],
[inert] * {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
  user-select: none;
}

dialog {
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type='number'] {
  appearance: textfield;
}

button {
  cursor: pointer;
}
