.title {
  margin-bottom: 25px;
}

.list {
  padding-left: 15px;
  margin-bottom: 15px;
  list-style: disc;
}

.listItem {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.also {
  display: block;
  color: var(--color-gray);
}
