.component {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex: 1 1 100%;
  flex-direction: column;
}

.container {
  width: clamp(360px, 90%, 1250px);
  min-height: 100%;
  padding: 15px 15px 120px;
  margin-right: auto;
  margin-left: auto;
}
