.header {
  margin-bottom: 40px;
}

.mainTitle {
  display: block;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}

.additionalTitle {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.content {
  margin-bottom: 15px;
}

.contentItem {
  display: block;
  margin-bottom: 15px;
}

.contentItem:last-of-type {
  margin-bottom: 0;
}
